.pieceContainer {
  width: 240px;
  height: 480px;
  position:absolute;
  opacity: 0.5;
  top: 0;
}

/*--------------FIRST SECTION (1/4)-----------*/

.firstSection {
  left: 0;
}

#one {
  background-color: green;
  clip-path: polygon(0 0, 100% 0, 162px 162px);
}

#two {
  background-color: blueviolet;
  clip-path: polygon(0 0, 92px 92px, 0 100%);
}

#three {
  background-color: yellow;
  clip-path: polygon(100% 0, 162px 162px, 100% 50%);
}

#four {
  background-color: aquamarine;
  clip-path: polygon(92px 92px, 162px 162px, 0 100%);
}

#five {
  background-color: red;
  clip-path: polygon(162px 162px, 243px 243px, 100% 100%, 50% 100%, 50% 50%);
}

#six {
  background-color: blue;
  clip-path: polygon(50% 50%, 50% 100%, 82px 320px);
}

#seven {
  background-color: yellow;
  clip-path: polygon(82px 320px, 50% 100%, 0 100%);
}

/*--------------SECOND SECTION (2/4)-----------*/

.secondSection {
  left: 240px;
}

#eight {
  background-color: aqua;
  clip-path: polygon(0 0, 100% 0, 100% 160px, 50% 50%);
}

#nine {
  background-color: yellow;
  clip-path: polygon(50% 50%, 100% 160px, 100% 50%);
}

#ten {
  background-color: blue;
  clip-path: polygon(0 0,50% 50%, 80px 321px, 0 242px);
}

#eleven {
  background-color: purple;
  clip-path: polygon(0 242px, 80px 321px, 0 100%);
}

#twelve {
  background-color: red;
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%);
}

#thirteen {
  background-color: lightgreen;
  clip-path: polygon(50% 50%, 80px 321px, 100% 100%);
}

#fourteen {
  background-color: green;
  clip-path: polygon(0 100%, 80px 321px, 100% 100%);
}

/*--------------THIRD SECTION (3/4)-----------*/

.thirdSection {
  left: 480px;
}

#fifteen {
  background-color: brown;
  clip-path: polygon(0 0, 80px 401px, 0 100%);
 
}

#sixteen {
  background-color: yellow;
  clip-path: polygon(0 0, 162px 320px, 80px 401px);
}

#seventeen {
  background-color: red;
  clip-path: polygon(0 0, 50% 0, 80px 160px);
}

#eighteen {
  background-color: aqua;
  clip-path: polygon(50% 0, 50% 50%, 80px 160px);
}

#nineteen {
  background-color: lime;
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 162px 320px, 50% 50%);
}

#twenty {
  background-color: violet;
  clip-path: polygon(162px 320px, 100% 50%, 100% 100%);
}

#twentyOne {
  background-color: blue;
  clip-path: polygon(0 100%, 162px 320px, 100% 100%);
}

/*--------------FOURTH SECTION (4/4)-----------*/

.fourthSection {
  left: 720px;
}

#twentyTwo {
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 81px 158px);
}


#twentyThree {
  background-color: orange;
  clip-path: polygon(0 0, 81px 158px, 0 50%);
}

#twentyFour {
  background-color: blueviolet;
  clip-path: polygon(81px 158px, 100% 0, 50% 50%);
}

#twentyFive {
  background-color: green;
  clip-path: polygon(0 50%, 81px 158px, 50% 50%, 0 100%);
}

#twentySix {
  background-color: yellow;
  clip-path: polygon(50% 50%, 100% 0, 100% 50%);
}

#twentySeven {
  background-color: aquamarine;
  clip-path: polygon(50% 50%, 100% 50%, 100% 320px);
}

#twentyEight {
  background-color: pink;
  clip-path: polygon(50% 50%, 100% 320px, 100% 100%, 0 100%);
}