* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.container {
  margin: 50px auto;
  width: 960px;
  height: 480px;
  position:relative;
  overflow: hidden;
}

#womanVideo {
  width: 960px;
  height: auto;
  z-index: -1;
  display: none;
}

.imgContainer {
  width: 960px;
  height: 480px;
  border: 2px solid black;
  position:absolute;
  top: 0;
  left:0;
}

.secondContainer {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  position: relative;
}

.inside {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.first {
  background-image: url(../../media/firstSection.png);
}

.second {
  background-image: url(../../media/secondSection.png);
}

.third {
  background-image: url(../../media/thirdSection.png);
}

.fourth {
  background-image: url(../../media/fouthSection.png);
}

.first, .second, .third, .fourth {
  width: 240px;
  height: 480px;
}