* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.container {
  border: 2px solid blue;
  margin: 50px auto;
  width: 800px;
  height: 450px;
  overflow: hidden;
  position:relative;
}

#womanVideo {
  width: 800px;
  height: auto;
}

#womanImg {
  width: 800px;
  height: 450px;
  position:absolute;
  top:0;
  left: 0;
  z-index: 100;
}